.main{
    font-family: 'Lato', sans-serif;
    background-color: $color_2;
    color: $color_5;
    .canvasContainer{
        padding: 20px 0;
    }
    .showMore{
        text-align: center;
        span{
            @include button(2);
            border-radius: 4px 4px 12px 12px;
            padding: 6px 10px;
        }
        margin-bottom: 20px;
    }
    h2{
        margin-top: 40px;
    }
}