.passwordReset {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color_1;
  z-index: 10;
  color: $color_5;
  .passwordResetInner {
    background-color: $color_1;
    border-radius: 10px;
    a{
        text-decoration: none;
        color: $color_5;
        h1{
            text-align: center;
            margin-bottom: 40px;
        }
    }
    h2 {
      margin: 0 10px;
    }
    p {
      margin: 0 10px;
      margin-bottom: 20px;
    }
    form {
      
      button {
        outline: 0;
        border: 0;
        text-align: center;
        border-radius: 10px;
        width: 150px;
        margin: 10px 20px;
        padding: 5px 10px;
        @include button(2);
      }
    }
  }
}
