.topbar{
    background-color: $color_1;
    .upperTopbar{
        padding: 10px 0;
        font-size: 110%;
        .logo{
            font-size: 130%;
            a{
                text-decoration: none;
                color: $color_3;
            }
        }
        .buttons{
            .loginButton, .signupButton, .logoutButton{
                @include button(1);
            }
        }
    }
    .lowerTopbar{
        background-color: $color_2;
        border-bottom: 1px solid $color_1;
        padding: 10px 0;
        a{
            @include button(2);
            text-decoration: none;
            color: $color_3;
        }
    }
}