.topbar{
    background-color: $color_1;
    padding: 10px 0;
    font-size: 110%;
    .logo{
        font-size: 130%;
    }
    .buttons{
        .loginButton, .signupButton{
            padding: 5px 15px;
            margin: 0 4px;
            border-radius: 4px;
            cursor: pointer;
            &:hover{
                background-color: darken($color: $color_1, $amount: 20);
            }
        }
    }
}