.topbar{
    background-color: $color_1;
    .upperTopbar{
        padding: 10px 0;
        font-size: 110%;
        .logo{
            font-size: 130%;
            a{
                text-decoration: none;
                color: $color_5;
            }
        }
        .buttons{
            .loginButton, .signupButton, .logoutButton{
                @include button(1);
            }
            .welcomeBox{
                margin-right: 20px;
            }
        }
    }
    .lowerTopbar{
        background-color: $color_2;
        border-bottom: 1px solid $color_1;
        padding: 10px 0;
        a{
            @include button(2);
            line-height: 2;
            text-decoration: none;
            color: $color_5;
            @media screen and (max-width: 575px){
                font-size: small;
                padding: 5px;
                height: 30px;
                line-height: 1.5;
            }
        }
    }
    .settings{
        background-color: $color_2;
        border-bottom: 1px solid $color_1;
        padding: 0 15px;
        span{
            text-align: end;
            margin: 0 5px 10px 5px;
        }
        .buttons{
            margin-bottom: 10px;
            button{
                @include button(2);
                line-height: 2;
                width: auto;
                margin: 0;
                @media screen and (max-width: 575px){
                    font-size: small;
                    padding: 5px;
                    height: 30px;
                    line-height: 1.5;
                }
            }
        }
    }
}