.inputField {
    margin-bottom: 20px;
    width: 50%;
    
    input{
      @include textInput();
      padding-left: 8px;
      border: 2px solid $color_1;
      box-sizing: border-box;
    }
    span{
        color: $color_4;
    }
  }