.myCarousel{
    padding: 0;
    background-color: lighten($color: $color_1, $amount: 20);
    .carouselWrapper{
        overflow: hidden;
        padding: 0;
        
        .carouselInner{
            transition: transform 0.8s ease-in-out;
            padding: 0;
        }
        .myCarouselItem{
            width: 100%;
            z-index: 1;
            padding: 0;
        }
    }
    .arrow{
        cursor: pointer;
        z-index: 2;
        height: 30%;
        width: 50px;
        font-size: 400%;
        background-color: lighten($color: $color_1, $amount: 20);
        &:hover{
            background-color: $color_1;
        }
    }
    .left{
        border-radius: 10px 0 0 10px;
        transform: rotate(360deg);
        position: absolute;
        left: -50px;
    }

    .right{
        border-radius: 0 10px 10px 0;
        position: absolute;
        right: -50px;
    }
}