.myCarousel{
    padding: 0;
    border: 1px solid $color_3;
    border-radius: 6px;
    background-color: darken($color: $color_2, $amount: 5);
    .carouselWrapper{
        overflow: hidden;
        padding: 0;
        z-index: 2;
        h1{
            margin-top: 10px;
            margin-left: 20px;
            font-size: 36px;
            text-align: center;
            @media screen and (max-width: 767px){
                font-size: 26px;
            }
        }
        .carouselInner{
            position: relative;
            transition: 0.8s ease-in-out;
            padding: 0;
        }
        .myCarouselItem{
            width: 100%;
            z-index: 1;
            padding: 0;
        }
    }
    .arrow{
        cursor: pointer;
        z-index: 3;
        height: 30%;
        width: 50px;
        font-size: 400%;
        background-color: darken($color: $color_2, $amount: 5);
        &:hover{
            background-color: $color_2;
        }
    }
    .left{
        transform: rotate(360deg);
        position: absolute;
        border-radius: 6px 0 0 6px;
        border: none;
        height: 20%;
        top: 0;
        left: 0;
    }

    .right{
        position: absolute;
        border-radius: 0 6px 6px 0;
        border: none;
        height: 20%;
        top: 0;
        right: 0;
    }
}