.footer{
    background-color: $color_1;
    color: $color_3;
    width: 100%;
    .innerFooter{
        p{
            padding: 10px;
            margin: 0;
            width: 100%;
            text-align: center;
            &:nth-child(1){
                font-size: 120%;
            }
            a{
                color: $color_3;
                font-weight: bold;
            }
        }
    }
}