@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.button {
  background-color: #1e2022;
  color: #d7d8d7;
  border-radius: 10px;
  width: 150px;
  cursor: pointer;
  margin: 10px 20px;
  text-align: center;
  padding: 5px 10px;
}
.button:hover {
  background-color: #42464b;
}

.login_page {
  color: white;
  min-height: 100vh;
}
.login_page .form_login {
  background-color: rgba(0, 0, 0, 0.2);
}
.login_page .form_login form {
  width: 100%;
  padding: 0 20px;
}
.login_page .form_login form label {
  font-weight: 500;
}
.login_page .form_login form input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  appearance: none;
  font-family: inherit;
  box-shadow: none;
  outline: none;
  font-weight: 400;
}
.login_page .form_login form input:focus {
  padding-left: 8px;
  border: 2px solid #1e2022;
  box-sizing: border-box;
}
.login_page .form_login form span {
  height: 20px;
  margin-bottom: 20px;
}
.login_page .form_login form .submit_button button {
  width: 100px;
  height: 40px;
  border: 1px solid #1e2022;
  background-color: #52616b;
  color: white;
  border-radius: 2px;
  box-shadow: #000000 -1px -1px 10px inset;
}
.login_page .form_login form .submit_button button:active {
  box-shadow: #000000 1px 1px 10px inset;
}
.login_page .form_login form .submit_button span {
  text-align: center;
  margin: 0;
}
.login_page .form_login form .submit_button span a {
  text-decoration: none;
}

.signup_page {
  color: white;
  min-height: 100vh;
}
.signup_page .form_signup {
  background-color: rgba(0, 0, 0, 0.2);
}
.signup_page .form_signup form {
  width: 100%;
  padding: 0 20px;
}
.signup_page .form_signup form label {
  font-weight: 500;
}
.signup_page .form_signup form input {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  appearance: none;
  font-family: inherit;
  box-shadow: none;
  outline: none;
  font-weight: 400;
}
.signup_page .form_signup form input:focus {
  padding-left: 8px;
  border: 2px solid #1e2022;
  box-sizing: border-box;
}
.signup_page .form_signup form span {
  height: 20px;
  margin-bottom: 20px;
}
.signup_page .form_signup form .submit_button button {
  width: 100px;
  height: 40px;
  border: 1px solid #1e2022;
  background-color: #52616b;
  color: white;
  border-radius: 2px;
  box-shadow: #000000 -1px -1px 10px inset;
}
.signup_page .form_signup form .submit_button button:active {
  box-shadow: #000000 1px 1px 10px inset;
}
.signup_page .form_signup form .submit_button span {
  text-align: center;
  margin: 0;
}
.signup_page .form_signup form .submit_button span a {
  text-decoration: none;
}

.main {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  background-color: #52616b;
  color: #d7d8d7;
}
.main .canvasContainer {
  padding: 20px 0;
}
.main .canvasContainer .modes {
  color: #1e2022;
  margin-bottom: 20px;
}
.main .canvasContainer .modes select {
  width: 200px;
  background-color: #52616b;
  color: #d7d8d7;
  border: none;
  outline: 0;
}
.main .canvasContainer .modes select:hover {
  color: #f1f1f1;
}
.main .canvasContainer .modes select::-ms-expand {
  display: none;
}
.main .canvasContainer .modes select option {
  background-color: transparent;
}
.main .canvasContainer .modes select option:hover {
  background-color: #52616b;
}
.main .canvasContainer .modes .radioButton {
  margin: 10px;
}
.main .canvasContainer .modes .radioButton label {
  margin: 0;
  margin-left: 5px;
}

.topbar {
  background-color: #1e2022;
  padding: 10px 0;
  font-size: 110%;
}
.topbar .logo {
  font-size: 130%;
}
.topbar .buttons .loginButton, .topbar .buttons .signupButton {
  padding: 5px 15px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
}
.topbar .buttons .loginButton:hover, .topbar .buttons .signupButton:hover {
  background-color: black;
}

.colorWheel_container {
  width: 100%;
  min-height: 50vh;
}
.colorWheel_container .colorWheel_inner_container {
  position: relative;
  width: 514px;
  height: 514px;
}
.colorWheel_container canvas {
  border-radius: 50%;
  box-sizing: border-box;
}
.colorWheel_container .pointer {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
.colorWheel_container .main_pointer {
  z-index: 2;
  cursor: crosshair;
  border: 2px solid black;
}

@media screen and (max-width: 1199px) {
  .colorSquare .square {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 991px) {
  .colorSquare .square {
    width: 110px;
    height: 110px;
  }
}
@media screen and (max-width: 767px) {
  .colorSquare .square {
    width: 70px;
    height: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .colorSquare .square {
    width: 190px;
    height: 190px;
  }
}
@media screen and (min-width: 1400px) {
  .colorSquare .square {
    width: 230px;
    height: 230px;
  }
}
.colorSquare .hexValue, .colorSquare .rgbValue {
  text-align: center;
}
.colorSquare .brightnessValue {
  width: 100%;
}

input[type=range] {
  background-color: red;
}

/*# sourceMappingURL=index.css.map */
