@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap");
.login_page {
  color: #ebf6ff;
  min-height: 100vh;
  overflow: hidden;
}
.login_page .form {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.login_page .form form {
  width: 100%;
  padding: 0 20px;
}
.login_page .form form label {
  font-weight: 500;
}
.login_page .form form .inputField {
  width: 100%;
}
.login_page .form form span {
  height: 20px;
  margin-bottom: 20px;
}
.login_page .form form .submit_button button {
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px 15px;
  height: 40px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  line-height: 2;
  border: none;
  background-color: #282828;
  color: #d8d8d8;
}
.login_page .form form .submit_button button:hover {
  background-color: black;
}
.login_page .form form .submit_button span {
  text-align: center;
  margin: 0;
  margin-top: 20px;
}
.login_page .form form .submit_button span a {
  color: #282828;
  font-weight: bold;
}
.login_page .form .info a {
  color: #282828;
  font-weight: bold;
}
.login_page img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
@media screen and (max-width: 991px) {
  .login_page img {
    object-fit: cover;
  }
}

.signup_page {
  color: #ebf6ff;
  min-height: 100vh;
  overflow: hidden;
}
.signup_page .form {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.signup_page .form form {
  width: 100%;
  padding: 0 20px;
}
.signup_page .form form label {
  font-weight: 500;
}
.signup_page .form form .inputField {
  width: 100%;
}
.signup_page .form form span {
  height: 20px;
  margin-bottom: 20px;
}
.signup_page .form form .submit_button button {
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px 15px;
  height: 40px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  line-height: 2;
  border: none;
  background-color: #282828;
  color: #d8d8d8;
}
.signup_page .form form .submit_button button:hover {
  background-color: black;
}
.signup_page .form form .submit_button span {
  text-align: center;
  margin: 0;
  margin-top: 20px;
}
.signup_page .form form .submit_button span a {
  color: #282828;
  font-weight: bold;
}
.signup_page .form .info a {
  color: #282828;
  font-weight: bold;
}
.signup_page img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
@media screen and (max-width: 991px) {
  .signup_page img {
    object-fit: cover;
  }
}

.main {
  font-family: "Lato", sans-serif;
  background-color: #434343;
  color: #d8d8d8;
}
.main .canvasContainer {
  padding: 20px 0;
}
.main .modes {
  z-index: 10;
}
.main .showMore {
  text-align: center;
  margin-bottom: 20px;
}
.main .showMore span {
  padding: 5px 15px;
  height: 40px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  line-height: 2;
  border: none;
  background-color: #282828;
  color: #d8d8d8;
  border-radius: 4px 4px 12px 12px;
  padding: 6px 10px;
}
.main .showMore span:hover {
  background-color: black;
}
.main h2 {
  margin-top: 40px;
}

.patterns {
  min-height: 100vh;
  background-color: #434343;
  color: #d8d8d8;
}
.patterns .content {
  margin-top: 20px;
}

.notFound {
  min-height: 100vh;
  background-color: #434343;
}
.notFound h1 {
  font-size: 600%;
}

.profile {
  min-height: 100vh;
  background-color: #434343;
  color: #d8d8d8;
}
.profile .content .information {
  margin: 20px 0;
}
.profile .content .information h1 {
  font-size: 72px;
}
.profile .content .carouselBox {
  margin-bottom: 20px;
}

.explore {
  min-height: 100vh;
  background-color: #434343;
  color: #d8d8d8;
}
.explore .content {
  padding-bottom: 100px;
}

.button {
  padding: 5px 15px;
  height: 40px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  line-height: 2;
  border: none;
  background-color: #282828;
  color: #d8d8d8;
  text-align: center;
  border-radius: 10px;
  width: 150px;
  margin: 10px 20px;
  padding: 5px 10px;
}
.button:hover {
  background-color: black;
}

.myCarousel {
  padding: 0;
  border: 1px solid #707070;
  border-radius: 6px;
  background-color: #363636;
}
.myCarousel .carouselWrapper {
  overflow: hidden;
  padding: 0;
  z-index: 2;
}
.myCarousel .carouselWrapper h1 {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 36px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .myCarousel .carouselWrapper h1 {
    font-size: 26px;
  }
}
.myCarousel .carouselWrapper .carouselInner {
  position: relative;
  transition: 0.8s ease-in-out;
  padding: 0;
}
.myCarousel .carouselWrapper .myCarouselItem {
  width: 100%;
  z-index: 1;
  padding: 0;
}
.myCarousel .arrow {
  cursor: pointer;
  z-index: 3;
  height: 30%;
  width: 50px;
  font-size: 400%;
  background-color: #363636;
}
.myCarousel .arrow:hover {
  background-color: #434343;
}
.myCarousel .left {
  transform: rotate(360deg);
  position: absolute;
  border-radius: 6px 0 0 6px;
  border: none;
  height: 20%;
  top: 0;
  left: 0;
}
.myCarousel .right {
  position: absolute;
  border-radius: 0 6px 6px 0;
  border: none;
  height: 20%;
  top: 0;
  right: 0;
}

.bigCarousel {
  padding: 0;
  border: 1px solid #707070;
  border-radius: 6px;
  background-color: #363636;
  margin-bottom: 20px;
  position: relative;
}
.bigCarousel .carouselWrapper {
  overflow: hidden;
  padding: 0;
  z-index: 2;
}
.bigCarousel .carouselWrapper h1 {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 36px;
}
.bigCarousel .carouselWrapper .carouselInner {
  transition: 0.8s ease-in-out;
  padding: 0;
}
.bigCarousel .carouselWrapper .myCarouselItem {
  width: 100%;
  z-index: 1;
  padding: 0;
}
.bigCarousel .arrow {
  cursor: pointer;
  z-index: 3;
  height: 30%;
  width: 50px;
  font-size: 400%;
  background-color: #363636;
}
.bigCarousel .arrow:hover {
  background-color: #434343;
}
.bigCarousel .left {
  border-radius: 0 10px 10px 0;
  transform: rotate(360deg);
  position: absolute;
  left: 0;
}
.bigCarousel .right {
  border-radius: 10px 0 0 10px;
  position: absolute;
  right: 0;
}

.topbar {
  background-color: #282828;
}
.topbar .upperTopbar {
  padding: 10px 0;
  font-size: 110%;
}
.topbar .upperTopbar .logo {
  font-size: 130%;
}
.topbar .upperTopbar .logo a {
  text-decoration: none;
  color: #d8d8d8;
}
.topbar .upperTopbar .buttons .loginButton, .topbar .upperTopbar .buttons .signupButton, .topbar .upperTopbar .buttons .logoutButton {
  padding: 5px 15px;
  height: 40px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  line-height: 2;
  border: none;
  background-color: #d8d8d8;
  color: #282828;
}
.topbar .upperTopbar .buttons .loginButton:hover, .topbar .upperTopbar .buttons .signupButton:hover, .topbar .upperTopbar .buttons .logoutButton:hover {
  background-color: #a5a5a5;
}
.topbar .upperTopbar .buttons .welcomeBox {
  margin-right: 20px;
}
.topbar .lowerTopbar {
  background-color: #434343;
  border-bottom: 1px solid #282828;
  padding: 10px 0;
}
.topbar .lowerTopbar a {
  padding: 5px 15px;
  height: 40px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  line-height: 2;
  border: none;
  background-color: #282828;
  color: #d8d8d8;
  line-height: 2;
  text-decoration: none;
  color: #d8d8d8;
}
.topbar .lowerTopbar a:hover {
  background-color: black;
}
.topbar .settings {
  background-color: #434343;
  border-bottom: 1px solid #282828;
  padding: 0 15px;
}
.topbar .settings span {
  text-align: end;
  margin: 0 5px 10px 5px;
}
.topbar .settings .buttons {
  margin-bottom: 10px;
}
.topbar .settings .buttons button {
  padding: 5px 15px;
  height: 40px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  line-height: 2;
  border: none;
  background-color: #282828;
  color: #d8d8d8;
  line-height: 2;
  width: auto;
  margin: 0;
}
.topbar .settings .buttons button:hover {
  background-color: black;
}

.colorWheel_container {
  touch-action: none;
  width: 100%;
}
.colorWheel_container .colorWheel_inner_container {
  position: relative;
  width: 514px;
  height: 514px;
  height: 100%;
}
.colorWheel_container canvas {
  border-radius: 50%;
  box-sizing: border-box;
}
.colorWheel_container .pointer {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}
.colorWheel_container .main_pointer {
  z-index: 2;
  cursor: crosshair;
  border: 2px solid black;
}

@media screen and (max-width: 1199px) {
  .colorSquare .square {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 991px) {
  .colorSquare .square {
    width: 110px;
    height: 110px;
  }
}
@media screen and (max-width: 767px) {
  .colorSquare .square {
    width: 40px;
    height: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .colorSquare .square {
    width: 190px;
    height: 190px;
  }
}
@media screen and (min-width: 1400px) {
  .colorSquare .square {
    width: 230px;
    height: 230px;
  }
}
.colorSquare .hexValue, .colorSquare .rgbValue {
  text-align: center;
}
.colorSquare .brightnessValue {
  width: 100%;
}

.modes {
  margin-bottom: 20px;
}
.modes .customSelect {
  width: 200px;
  background-color: #434343;
  color: #282828;
}

input[type=range] {
  appearance: none;
  height: 3px;
  width: 60%;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
}
@media screen and (max-width: 767px) {
  input[type=range] {
    width: 90%;
  }
}
input[type=range]::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  background: #282828;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}
input[type=range]::-webkit-slider-thumb:active {
  background: #0f0f0f;
}

.pattern {
  margin: 30px 0;
}
.pattern .colors .color {
  text-align: center;
  padding: 5px;
}
.pattern .username {
  margin-left: 15px;
  margin-bottom: 5px;
}
.pattern .username a {
  text-decoration: none;
  font-weight: bold;
  color: #d8d8d8;
}
.pattern .likes {
  margin-left: 15px;
}
.pattern .likes span {
  margin: 0;
  padding: 5px 15px;
  height: 40px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  line-height: 2;
  border: none;
  background-color: #282828;
  color: #d8d8d8;
}
.pattern .likes span:hover {
  background-color: black;
}

.bigPattern {
  margin: 20px 0;
}
.bigPattern .color {
  height: 100px;
  width: 300px;
}
.bigPattern .username {
  color: #d8d8d8;
}
.bigPattern .username a {
  color: #d8d8d8;
  font-weight: bold;
  text-decoration: none;
}
.bigPattern .likes {
  margin-left: 15px;
}
.bigPattern .likes span {
  margin: 0;
  padding: 5px 15px;
  height: 40px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  line-height: 2;
  border: none;
  background-color: #282828;
  color: #d8d8d8;
}
.bigPattern .likes span:hover {
  background-color: black;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  border-top: 4px;
  border-right: 4px;
  border-bottom: 0;
  border-left: 0;
  border-style: solid;
  border-color: #282828;
  border-radius: 50%;
  margin: 0;
  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 50px;
  height: 50px;
}

.customPattern {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #282828;
  z-index: 5;
}
.customPattern .innerCustomPattern {
  border-radius: 10px;
}
@media screen and (max-width: 991px) {
  .customPattern .innerCustomPattern {
    width: 80%;
    height: 90%;
  }
}
@media screen and (max-width: 575px) {
  .customPattern .innerCustomPattern {
    width: 100%;
    height: 100%;
    border-radius: none;
  }
}
.customPattern .innerCustomPattern .header h1 {
  text-align: center;
  margin: 20px 0;
}
.customPattern .innerCustomPattern .colors .color {
  margin: 10px 0;
}
.customPattern .innerCustomPattern .colors .color .square {
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 992px) {
  .customPattern .innerCustomPattern .colors .color .square {
    width: 60px;
    height: 60px;
  }
}
.customPattern .innerCustomPattern .buttons {
  margin-top: 20px;
}
.customPattern .innerCustomPattern .buttons .button:nth-child(1) {
  padding: 5px 15px;
  height: 40px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  line-height: 2;
  border: none;
  background-color: #434343;
  color: #d8d8d8;
}
.customPattern .innerCustomPattern .buttons .button:nth-child(1):hover {
  background-color: #101010;
}
.customPattern .innerCustomPattern .buttons .button:nth-child(2) {
  padding: 5px 15px;
  height: 40px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  line-height: 2;
  border: none;
  background-color: #d8d8d8;
  color: #282828;
}
.customPattern .innerCustomPattern .buttons .button:nth-child(2):hover {
  background-color: #a5a5a5;
}
.customPattern .innerCustomPattern .warning {
  text-align: center;
}

.notificationBadge {
  position: fixed;
  left: 10px;
  bottom: -100px;
  animation-name: animate;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  width: 250px;
  padding: 15px;
  background-color: #282828;
}
@media screen and (max-width: 767px) {
  .notificationBadge {
    width: 100vw;
    left: 0;
    animation-name: animateMobile;
  }
}

@keyframes animate {
  from {
    bottom: -100px;
  }
  20% {
    bottom: 10px;
  }
  80% {
    bottom: 10px;
  }
  to {
    bottom: -100px;
  }
}
@keyframes animateMobile {
  from {
    bottom: -100px;
  }
  20% {
    bottom: 0;
  }
  80% {
    bottom: 0;
  }
  to {
    bottom: -100px;
  }
}
.passwordReset {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #282828;
  z-index: 50;
  color: #d8d8d8;
}
.passwordReset .passwordResetInner {
  background-color: #282828;
  border-radius: 10px;
}
.passwordReset .passwordResetInner a {
  text-decoration: none;
  color: #d8d8d8;
}
.passwordReset .passwordResetInner a h1 {
  text-align: center;
  margin-bottom: 40px;
}
.passwordReset .passwordResetInner h2 {
  margin: 0 10px;
}
.passwordReset .passwordResetInner p {
  margin: 0 10px;
  margin-bottom: 20px;
}
.passwordReset .passwordResetInner form button:nth-child(1) {
  padding: 5px 15px;
  height: 40px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  line-height: 2;
  border: none;
  background-color: #434343;
  color: #d8d8d8;
  width: 150px;
}
.passwordReset .passwordResetInner form button:nth-child(1):hover {
  background-color: #101010;
}
.passwordReset .passwordResetInner form button:nth-child(2) {
  padding: 5px 15px;
  height: 40px;
  margin: 0 4px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-family: "Mukta", sans-serif;
  line-height: 2;
  border: none;
  background-color: #d8d8d8;
  color: #282828;
  width: 150px;
}
.passwordReset .passwordResetInner form button:nth-child(2):hover {
  background-color: #a5a5a5;
}

.inputField {
  margin-bottom: 20px;
  width: 50%;
}
.inputField input {
  padding: 10px;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  appearance: none;
  font-family: inherit;
  box-shadow: none;
  outline: none;
  font-weight: 400;
  padding-left: 8px;
  border: 2px solid #282828;
  box-sizing: border-box;
}
.inputField span {
  color: #e5383b;
}

.footer {
  background-color: #282828;
  color: #d8d8d8;
  width: 100%;
}
.footer .innerFooter p {
  padding: 10px;
  margin: 0;
  width: 100%;
  text-align: center;
}
.footer .innerFooter p:nth-child(1) {
  font-size: 120%;
}
.footer .innerFooter p a {
  color: #d8d8d8;
  font-weight: bold;
}

/*# sourceMappingURL=index.css.map */
